<!DOCTYPE html>
<html>
<head>
	<title>NLP Natural Language Processing</title>

	<link rel="shortcut icon" href="{{ url_for('static', filename = 'images/favicon.ico') }}" type="image/x-icon" />

	 <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename = 'css/bootstrap.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename = 'css/main.css') }}" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <style type="text/css">
	    body{
	    	background: url('../static/images/bulb.png');;
		    background-repeat: no-repeat;
		    background-size: cover;
		}
    </style>
</head>
<body>
	<!-- Static navbar -->
	<div class="navbar navbar-inverse navbar-static-top" id="edit_analyse1">
	    <div class="container">
	        <div class="navbar-header">
	            <a class="navbar-brand" href="/">
	            	<img class="logo" src="{{ url_for('static', filename = 'images/logo1.png')}}" alt="" />
	        	</a>
	        </div>
	        <div class="navbar-collapse collapse">
	            <ul class="nav navbar-nav navbar-right">
	            </ul>
	        </div>
	        <!--/.nav-collapse -->
	    </div>
	</div>

	<!-- +++++ Projects Section +++++ -->

	<div class="container pt">
		<div class="row mt">
	        <div class="col-lg-6 col-lg-offset-3 centered">
	        	<h3>Analyse</h3>
	        	<hr>
	            <p>Analyse how efficient the summarized content is</p>
	         
	        </div>
    	</div>
	    <div class="row mt">
	        <div class="col-lg-6 col-lg-offset-3 centered">
	        	<form enctype="multipart/form-data" method="POST" action="/analyse">
	        		<div class='custom'>
	        		<label for="file-upload">Upload Text File</label>
	        		<input id="file-upload" name="filename" type="file" class="btn btn-outline-dark" style="display:none;" required>
	        	</div>
	        		<br><br>
	        		<div class='custom'>
	        		<label for="file_summary">Upload Summarized File</label>
	        		<input id="file_summary" name="file_summary" type="file" class="btn btn-outline-dark" style="display:none;" required>
	        	</div>
	        		<br><br>
			  		<button class="btn btn-dark" type="submit" value="Submit">Submit</button>
				</form>
			
	        </div>
	    </div>
	</div>

	<div class="smart-wrap">
        <div class="smart-forms smart-container wrap-3">

            <div class="form-header header-blue" id="edit_analyse2">
                <h5><i class="fa fa-comments"></i>Accuracy</h5>
            </div><!-- end .form-header section -->

            <form method="post" action="/" id="comment2">
                <div class="form-body theme-blue">


                    <div class="section">
                        <label class="field prepend-icon">
                            <textarea class="gui-textarea" id="comment" name="comment" placeholder="Your Answer...">{{analyse_output}}</textarea>
                            <span class="field-icon"><i class="fa fa-comments"></i></span>
                            <span class="input-hint">
                            </span>
                        </label>
                    </div><!-- end section -->
                </div>
            </form>

        </div><!-- end .smart-forms section -->
    </div><!-- end .smart-wrap section -->

    <div><br><br></div><!-- end section -->

	 <script>
    		$('#file-upload').change(function() {
		    var i = $(this).prev('label').clone();
		    var file = $('#file-upload')[0].files[0].name;
		  	$(this).prev('label').text(file);
		});

    	$('#file_summary').change(function() {
		    var i = $(this).prev('label').clone();
		    var file = $('#file_summary')[0].files[0].name;
		  	$(this).prev('label').text(file);
		});
		
		
		function myFunction() {
		      document.getElementById("myDropdown").classList.toggle("show");
		}
		window.onclick = function(event) {
			if (!event.target.matches('.dropbtn')) {
			    var dropdowns = document.getElementsByClassName("dropdown-content");
			    var i;
			    for (i = 0; i < dropdowns.length; i++) {
				      var openDropdown = dropdowns[i];
				      if (openDropdown.classList.contains('show')) {
						openDropdown.classList.remove('show');
				      }
			    }
			}
		};
	</script>
</body>
</html>